<app-navbar></app-navbar>
<hr>
<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="./assets/photo.jpg" width="150px" alt="" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        {{profile?.username}}
                    </h5>
                    <br>

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="post-tab" data-toggle="tab" href="#post" role="tab"
                                aria-controls="post" aria-selected="false">Posts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="add-post-tab" data-toggle="tab" href="#add-post" role="tab"
                                aria-controls="profile" aria-selected="false">Add Post</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="edit-profile-tab" data-toggle="tab" href="#edit-profile" role="tab"
                                aria-controls="profile" aria-selected="false">Edit Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="delete-profile-tab" data-toggle="tab" href="#delete-profile"
                                role="tab" aria-controls="profile" aria-selected="false">Delete Profile</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p></p>
                    <div class="form-group blue-border">
                        <label for="exampleFormControlTextarea4">Personal Description:</label>
                        <textarea readonly class="form-control" id="exampleFormControlTextarea4"
                            rows="3">{{profile?.personalDescription}}</textarea>
                    </div>

                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Type of Sport:</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{profile?.sport}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Age</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{profile?.age}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Gender</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{profile?.gender}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Country</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{profile?.country}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>City</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{profile?.city}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="post" role="tabpanel" aria-labelledby="post-tab">
                        <div *ngFor="let post of listOfPosts">
                            <hr>
                            <h3>{{post.title}}</h3>
                            <h6><span class="glyphicon glyphicon-time"></span> Post by {{post.profile.username}}, on
                                {{post.date}}</h6>
                            <h6><span class="label label-danger">Category: {{post.category}} - Sport:
                                    {{post.profile.sport}}</span> </h6><br>
                            <p>{{post.content}}.</p>
                            <button (click)=deleteOnePost(post.id) class="btn btn-primary">Delete</button>
                            <br><br>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="add-post" role="tabpanel" aria-labelledby="add-post-tab">
                        <h4>Add Post</h4>

                        <form [formGroup]="form" (ngSubmit)="createNewPost()" class="form-horizontal">

                            <label class="col-lg-3 control-label">Title:</label>
                            <div class="col-lg-8">
                                <input formControlName="title" class="form-control" type="text" />
                                <div
                                    *ngIf="form.controls.title.invalid && (form.controls.title.touched || form.controls.title.dirty)">
                                    Please fill out this field!
                                </div>
                            </div>

                            <label class="col-md-3 control-label">Content:</label>
                            <div class="col-md-8">
                                <textarea formControlName="content" class="form-control" type="text"></textarea>
                                <div
                                    *ngIf="form.controls.content.invalid && (form.controls.content.touched || form.controls.content.dirty)">
                                    Please fill out this field!
                                </div>
                            </div>

                            <label class="col-lg-3 control-label">Date:</label>
                            <div class="col-lg-8">
                                <input formControlName="date" class="form-control" type="text" />
                                <small id="passwordHelpBlock" class="form-text text-muted">
                                    Use this format: dd/mm/yyyy
                                </small>
                                <div
                                    *ngIf="form.controls.date.invalid && (form.controls.date.touched || form.controls.date.dirty)">
                                    Please type in a valid date!
                                </div>
                            </div>

                            <label class="col-lg-3 control-label">Category:</label>
                            <div class="col-lg-8">
                                <div class="ui-select">
                                    <select formControlName="category" class="form-control">
                                        <option value='' disabled selected> Choose category</option>
                                        <option value="Informational">Informational</option>
                                        <option value="MeetUp">MeetUp</option>
                                    </select>
                                </div>
                            </div>
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-8">
                                <input type="submit" class="btn btn-primary" value="Add">
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="edit-profile" role="tabpanel" aria-labelledby="edit-profile-tab">
                        <h4>Edit Profile</h4>
                        <app-profile-edit></app-profile-edit>
                    </div>
                    <div class="tab-pane fade" id="delete-profile" role="tabpanel" aria-labelledby="delete-profile-tab">
                        <h4>Delete Profile</h4>
                        <a>If you want to delete your Profile click on the delete button:</a><br/>
                        <button (click)=deleteProfile(profileId) class="btn btn-primary">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </form>