<app-navbar></app-navbar>
<div class="center">
    <div >
        <div>
            <img src="./assets/FitBook-Logo.png" width="200px"/>
        </div>
        <p style="color: dodgerblue;"><strong>Connect with sportsmen like you!</strong></p>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address:</label>
                <input type="email" class="form-control" id="exampleInputEmail1" style="width: 300px;"
                    aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password:</label>
                <input type="password" class="form-control" style="width: 300px;" id="exampleInputPassword1">
            </div>

            <button type="submit" class="btn btn-primary" style="margin:5px;">Sign in</button>
            <div class="width">
                <a routerLink="/registration"> New here? Click here to register!</a><br />
            </div>
        </form>
    </div>
</div>