<app-navbar></app-navbar>

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <h4>FitBook Posts</h4>
        </div>

        <div class="col-sm-7">
            <div *ngFor="let post of allPosts">
                <h4><small>RECENT POSTS</small></h4>
                <hr>
                <h2>{{post.title}}</h2>
                <h6><span class="glyphicon glyphicon-time"></span>
                    <a routerLink="/profiles/{{post.profile.id}}">Post by
                        {{post.profile.username}}, on {{post.date}}</a> </h6>
                <h6><span class="label label-danger">Category: {{post.category}} - Sport: {{post.profile.sport}}</span>
                </h6><br>
                <p style="border:3px; border-style:solid; border-color: royalblue; padding: 1em;">{{post.content}}.</p>
                <br><br>
            </div>
        </div>
        <div class="col-sm-3">
        </div>
    </div>
</div>